<div class="sidebar-about-me mb-6">
    <div class="box">
        <div class="media">
            <img src="<%= site_image('ugur-vigo-ozyilmazel-huddle.jpg', 'me') %>" alt="Uğur - vigo - Özyılmazel&rsquo;in resmi.">
        </div>
    </div>
    <div class="content">
        <p>
            Merhaba, ben Uğur &ldquo;vigo&rdquo; Özyılmazel. Bilgisayar programcısıyım.
            Web siteme hoş geldiniz. 
        </p>
        <p>
            Kullandığım yazılım dilleri, programlar ve işletim
            sistemleri ile ilgili notlarımı sitemde bulabilirsiniz.
        </p>
    </div>
</div>